*.pnm -diff -text
Changelog merge=union
tests/ref/fate/sub-aqtitle eol=lf
tests/ref/fate/sub-ass-to-ass-transcode eol=lf
tests/ref/fate/sub-cc eol=lf
tests/ref/fate/sub-cc-realtime
tests/ref/fate/sub-cc-realtime eol=lf
tests/ref/fate/sub-cc-scte20 eol=lf
tests/ref/fate/sub-charenc eol=lf
tests/ref/fate/sub-dvb eol=lf
tests/ref/fate/sub-jacosub eol=lf
tests/ref/fate/sub-lrc-remux eol=lf
tests/ref/fate/sub-microdvd eol=lf
tests/ref/fate/sub-microdvd-remux eol=lf
tests/ref/fate/sub-movtext eol=lf
tests/ref/fate/sub-mpl2 eol=lf
tests/ref/fate/sub-mpsub eol=lf
tests/ref/fate/sub-mpsub-frames eol=lf
tests/ref/fate/sub-pgs-remux eol=lf
tests/ref/fate/sub-pjs eol=lf
tests/ref/fate/sub-realtext eol=lf
tests/ref/fate/sub-sami eol=lf
tests/ref/fate/sub-sami2 eol=lf
tests/ref/fate/sub-scc-remux eol=lf
tests/ref/fate/sub-srt eol=lf
tests/ref/fate/sub-srt-badsyntax eol=lf
tests/ref/fate/sub-srt-empty-events eol=lf
tests/ref/fate/sub-srt-madness-timeshift eol=lf
tests/ref/fate/sub-srt-rrn-remux eol=lf
tests/ref/fate/sub-ssa-to-ass-remux eol=lf
tests/ref/fate/sub-stl eol=lf
tests/ref/fate/sub-subviewer eol=lf
tests/ref/fate/sub-subviewer1 eol=lf
tests/ref/fate/sub-ttmlenc eol=lf
tests/ref/fate/sub-vplayer eol=lf
tests/ref/fate/sub-webvtt eol=lf
tests/ref/fate/sub-webvtt2 eol=lf
tests/ref/fate/sub-webvttenc eol=lf
